<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/tenantDashboard">Paddy</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>      
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/tenantDashboard">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/request">Maintenance Request</a></li>
                <li><a href="/payment">Pay Rent</a></li>
        <li><a href="/paymenthistory">Payment History</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">DK Lee</h1>
      <h2 class="sub-header">My Property Manager: Shouvik Paul</h2>
      <h2 class="sub-header">Property: 2351 Anza Street, San Francisco, CA</h2>
      <h2 class="sub-header">Next Rent Due Date: 6/1/2017 </h2>
    </div>
  </div>
</div>
